h1 {
  font-family: "Lobster", cursive;
  color: blueviolet;
  text-align: center;
}

p.about {
  font-family: "Caveat", cursive;
  font-size: 32px;
  margin-bottom: 32px;
  text-align: justify;
}

#main_img {
  width: 400px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2,
ul,
ol {
  font-family: "IBM Plex Sans", sans-serif;
}

h2 {
  font-size: 34px;
  font-weight: 400;
}

h3 {
  font-size: 20px;
  margin-top: 30px;
  font-weight: bold;
}

li {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10px;
  font-style: italic;
}

.source {
  margin-top: 50px;
}
